$color-red-30: #c71d2e;
$color-red-40: #941623;
$color-red-50: #472024;
$color-green-50: #1d9e3b;
$color-green-40: #136b28;
$color-white: #fff;
$color-primary-50: #013850;
$color-primary-20: #2e6d88;

$background: transparent linear-gradient(302deg, #eff4f7 0%, #f9f9f9 100%) 0% 0% no-repeat padding-box;
