$ss-color-mae: #d8e3ea;
$ss-color-geo: #87bcd1;
$ss-color-cal: #007298;
$ss-color-ben: #172b54;
$ss-color-zed: #051c2c;
$ss-color-ali: #004990;
$ss-color-dan: #aa1a33;
$ss-color-nan: #f56e00;
$ss-color-eve: #ffbd06;
$ss-color-pan: #65cce9;
$ss-color-fey: #00ae79;
$ss-color-opa: #5e4565;
$ss-color-lin: #f0f0f0;
$ss-color-jon: #cdcdcd;
$ss-color-han: #5c6670;
$ss-color-quo: #000000;
$ss-color-white: #ffffff;

$background: transparent linear-gradient(302deg, #eff4f7 0%, #f9f9f9 100%) 0% 0% no-repeat padding-box;